%h1 Listing books

%table
  %tr
    %th Name
    %th Subject
    %th Page count
    %th
    %th
    %th

  - @books.each do |book|
    %tr
      %td= book.name
      %td= book.subject
      %td= book.page_count
      %td= link_to 'Show', book
      %td= link_to 'Edit', edit_book_path(book)
      %td= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Book', new_book_path
